services:
  - type: web
    name: realtime-code-editor
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: REDIS_HOST
        value: redis-server
      - key: REDIS_PORT
        value: 6379
    
    dependsOn:
      - redis-server

  - type: redis
    name: redis-server
    image: redis:latest
    plan: free 
    ipAllowList: []
