services:
  - type: web
    name: codemate-realtime-editor
    env: docker
    plan: free
    repo: https://github.com/faysalhassantorjo/CodeMate.git
    branch: main
    envVars:
      - key: REDIS_HOST
        fromService:
          type: database
          name: redis
          property: host
      - key: REDIS_PORT
        fromService:
          type: database
          name: redis
          property: port
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"

databases:
  - name: redis
    plan: free
    ipAllowList: []
