services:
  - type: web
    name: django-app
    env: docker
    repo: https://github.com/faysalhassantorjo/CodeMate.git
    branch: main
    plan: free
    envVars:
      - key: REDIS_HOST
        fromService:
          name: redis
          property: host
      - key: REDIS_PORT
        fromService:
          name: redis
          property: port

databases:
  - name: redis
    plan: free
    databaseName: redis
    ipAllowList: []
    region: oregon
